<h1>Welcome to CSE Motors!</h1>

<section class="hero">
    <ul>
        <li>
         <h2>DMC Delorean</h2>
        </li>
        <li>3 Cup holders</li>
        <li>Superman doors</li>
        <li>Fuzzy dice!</li>
        <li><a href="" title="cart"><img alt="Add to cart button" src="/images/site/own_today.png"></a></li>
    </ul>
</section>
<div class="flex-content">
    <section class="add-ons">
        <h3>Delorean Upgrades</h3>
        <div class="flex">
            <a href="/upgrades/flux-capacitor">
                <figure>
                    <div class="add-col">
                        <img src="/images/upgrades/flux-cap.png" alt="Flux Capacitor">
                    </div>
                    <figcaption>Flux Capacitor</figcaption>
                </figure>
            </a>
            <a href="/upgrades/flame-decal">
                <figure>
                    <div class="add-col">
                        <img src="/images/upgrades/flame.jpg" alt="Flame Decal">
                    </div>
                    <figcaption>Flame Decal</figcaption>
                </figure>
            </a>
            <a href="/upgrades/bumper-sticker">
                <figure>
                    <div class="add-col">
                        <img src="/images/upgrades/bumper_sticker.jpg" alt="Bumper Sticker">
                    </div>
                    <figcaption>Bumper Sticker</figcaption>
                </figure>
            </a>
            <a href="/upgrades/hub-cap">
                <figure>
                    <div class="add-col">
                        <img src="/images/upgrades/hub-cap.jpg" alt="Hub Cap">
                    </div>
                    <figcaption>Hub Cap</figcaption>
                </figure>
            </a>
        </div>
    </section>
    <section class="reviews">
        <h2>DMC Delorean Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>
</div>