<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>

<a href="/inv/management/classification/add">Add Classification</a>
<a href="/inv/management/inventory/add">Manage Inventory</a>

<h2>Manage Inventory</h2>

<p>Select a Classification from the list to view vehicles in this class</p>
<%- classificationSelect %>
<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="/js/inventory.js"></script>
